.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5px;
  box-sizing: border-box;
  background-color: #fff;
  @media only screen and (max-width: 1000px) {
  }
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer > h1 {
  margin-left: 5px;
  font-size: 28px;
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 500;
  color: #053747;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  font-family: "Montserrat";
  margin-left: 20px;
  margin-right: 20px;
}

.navbar > .navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  height: 50px;
  transition: tranform 0.2s ease;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.icon {
  cursor: pointer;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.navItem {
  &:hover {
    text-decoration: underline;
  }
}

.active {
  text-decoration: underline !important;
  transform: translateY(-8px);
  transition: tranform 0.2s ease;
}
