.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer > h1 {
  margin-left: 5px;
  font-size: 28px;
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 500;
  color: #053747;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  font-family: "Montserrat";
  margin-right: 20px;
}

.navbar > .navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  height: 50px;
  transition: tranform 0.2s ease;
}

.iconContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.icon {
  cursor: pointer;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.navItem {
  &:hover {
    text-decoration: underline;
  }
}

.active {
  text-decoration: underline !important;
  transform: translateY(-8px);
  transition: tranform 0.2s ease;
}

.searchBar {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -10px;
  left: -210px;
}

.searchList {
  border-radius: 5px;
  z-index: 100;
  position: absolute;
  top: 38px;
  left: -210px;
  max-height: 680px;
}

.list {
  padding: 0;
  width: 236px;
  background-color: #f8f8f8;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  z-index: 2000 !important;
}

.list :nth-child(odd) > li {
  background-color: #fff;
}

.searchListItem:hover {
  background-color: #109ac6 !important;
  color: white;
  transition: all 0.1s ease;
}

.link {
  text-decoration: none;
  color: inherit;
}

.favorite {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3b30;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 0px;
  right: -10px;
  user-select: none;
}

.heartIconContainer {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.favoriteList {
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 38px;
  right: 10%;
}

.activeModal {
  overflow: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100 !important ;
}

.overlay {
  background: rgba(49, 49, 49, 0.2);
}

.visible {
  opacity: 1;
  pointer-events: all;
}

.overlayTransparent {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100 !important ;
  background: rgba(49, 49, 49, 0.2);
}

.modalContent {
  user-select: none;
  position: absolute;
  top: 86px;
  right: 10%;
  background: #f8f8f8;
  padding: 14px 28px;
  border-radius: 5px;
  max-width: 600px;
  min-width: 300px;
  z-index: 200 !important;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.modalContent > h2 {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

.closeModal {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
