.btnContainer {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  height: 45px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1;
  right: 0;
  top: 0;
  &:hover .btn {
    scale: 1.2;
  }
  &:active .btn {
    scale: 0.8;
  }
}

.btn {
  color: #ff3b30;
  transition: all 0.2s ease;
}

.favorited {
  fill: #ff3b30;
}
