.link {
  text-decoration: none;
  color: inherit;
}

.container {
  user-select: none;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #fff;
  height: 480px;
  width: 33.33%;
  min-width: 240px;
  max-width: 342px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #d8d8d8;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.imgContainer > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  height: 180px;
}

.spinner {
  border: 4px solid #f8f8f8;
  border-top: 4px solid #053747; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.textContainer > h2 {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-top: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.textContainer > p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.price {
  font-weight: 600;
}

.review {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  height: 20px;
  font-weight: 600;
}

.reviewers {
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6);
}

.priceReviewContainer {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.btnContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  height: 45px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1;
  right: 0;
  top: 0;
  &:hover .btn {
    scale: 1.2;
  }
  &:active .btn {
    scale: 0.8;
  }
}

.btn {
  color: #ff3b30;
  transition: all 0.2s ease;
}

.favorited {
  fill: #ff3b30;
}
