h3 {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 8px;
  display: flex;
  align-items: baseline;
}

h4 {
  margin: 0;
  padding: 0;
}

.gray {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.name {
  max-height: 36px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: 6px;
  overflow: hidden;
}

.date {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

.comment {
  margin-top: 4px;
  height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
